img {
    width: 100%;
}

body {
    font-family: ;
}

/* DEBUG */


.box {
    min-height: 80px;
    min-width: 100px;
    line-height: 80px;
    border: 2px dashed red;
}


.box-2 {
    height: 100vh;
    width: 100px;
    line-height: 80px;
    /* border: 2px dashed red; */
}

.container-fluid {
    /* border: 2px dashed pink; */
}




/* NAVBAR */

.navbar {
    min-height: 100px;
}

.bg-color {
    background-color: white;
}

.navbar .col-2 {
    width: 80px;
}


/* SECTION-SX */

#section-sx {
    color: white;
    background-color: #051e34;
    height: 100vh;
    width: 100px;
    line-height: 80px;

}




/* SECTION-DX */

#section-dx {
    overflow-y: auto;
    height: 100vh;
    flex-grow: 1;
}

/* HEADER */

#header {
    min-height: 200px;
    background-color: #1b72e8;
    color: white;
}

.btn {
    margin-left: 20px;
}


/* TABLE */

.container h4 {
    background-color: #f7f7f7;
}


/* TABLE-1 */
#table-1 {
    width: 100%;
}

.table {
    width: 100%;
}

#table-1 .col-sx {
    width: 40%;
}

#table-1 .col-dx {
    width: 15%;
}

#table-1 .col-dx-1 {
    width: 20%;
}

#table-1 button {
    padding: 2px 5px;
    font-size: 10px;
}

.avatar {
    width: 25px;
}

.font-weight {
    font-weight: normal;
    margin-left: 5px;
}


#section-sx-dekstop {
    color: white;
    background-color: #051e34;
    height: 100vh;
    width: 200px;
    line-height: 80px;
}

/* OFFCANVAS */

.offcanvas.offcanvas-end {
    width: 100%;
    max-width: 800px;
}



/* RESPONSIVE */

@media screen and (max-width: 959px) {
    #section-sx-dekstop {
        display: none;
    }
}




@media screen and (min-width: 960px) {
    #section-sx {
        display: none;
    }
}